<web-app>
<servlet>
<servlet-name>ram1</servlet-name>
<servlet-class>regServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ram1</servlet-name>
<url-pattern>/regis</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ram2</servlet-name>
<servlet-class>loginServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ram2</servlet-name>
<url-pattern>/login</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Admin</servlet-name>
<servlet-class>adminLogin</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Admin</servlet-name>
<url-pattern>/adminLogin</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>insert</servlet-name>
<servlet-class>adminInsert</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>insert</servlet-name>
<url-pattern>/adminInsert</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>showallbooks</servlet-name>
<servlet-class>adminShowAll</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>showallbooks</servlet-name>
<url-pattern>/adminShowAll</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>delete</servlet-name>
<servlet-class>adminDelete</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>delete</servlet-name>
<url-pattern>/adminDelete</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>alluser</servlet-name>
<servlet-class>adminAllUser</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>alluser</servlet-name>
<url-pattern>/adminAllUser</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>paidbooks</servlet-name>
<servlet-class>paidShowAll</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>paidbooks</servlet-name>
<url-pattern>/paidShowAll</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>updateProfile</servlet-name>
<servlet-class>updateProfile</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>updateProfile</servlet-name>
<url-pattern>/updateProfile</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>showdp</servlet-name>
<servlet-class>showdp</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>showdp</servlet-name>
<url-pattern>/showdp</url-pattern>
</servlet-mapping>



</web-app>