<web-app>

<servlet>
<servlet-name>ritik1</servlet-name>
<servlet-class>regServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ritik1</servlet-name>
<url-pattern>/reg</url-patter>
</servlet-mapping>

<servlet>
<servlet-name>ritik2</servlet-name>
<servlet-class>loginServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ritik2</servlet-name>
<url-pattern>/login</url-patter>
</servlet-mapping>


</web-app>