body{
    background-image: url("usedImage/Homebackground.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}
.homeheader{
    padding: 5px 0px 6px 0px;
    display: flex;
    justify-content: space-around;
    margin: 0px 0px 20px 0px ;
    font-size: 20px;
}
.logo{
    width: 300px;
    height: 70px;
}
#headsearch{
    width: 400px;
    height: 40px;
    border-radius: 8px 0px 0px 8px;
    padding: 0px 0px 0px 5px ;
    font-size: 20px;
    margin: 15px 0px 0px 0px;
    border-radius: 8px 0px 0px 8px;
    border: 2px;
}
.serchbtn{
    width: 40px;
    height: 40px;
    margin: 15px 0px 0px 0px;
    background-color: white;
    border-radius: 0px 8px 8px 0px;
    border: 2px;
    font-size: 20px;
}
.btn{
    margin-top: 15px;
}
.btn a:link, .btn a:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  .btn  a:hover, .btn  a:active {
    background-color: green;
    color: white;
  }

.image{
    width: 250px;
    height: 270px;
    margin: 10px 0px 0px 15px;
    border-radius: 4px;
}
.author, .bookname{
    margin:5px 0px 5px 15px ;
    font-size: 20px;
}

.store{
    width: 280px;
    height: 395px;
    margin: 40px 20px 0px 10px;
    background-color: white;
    border: 1.5px solid black;
    border-radius: 10px;
}
.store:hover{
    box-shadow: 2px 2px 15px 15px rgba(82, 79, 79, 0.431);
}
.read{
    margin: 0px 0px 0px 15px ;
    border-radius: 5px;
}
.read a:link, .read a:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 8px 105px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  .read a:hover, .read a:active {
    background-color: green;
    color: white;
  }

.hpstore{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footermain{
    background:black;
    color: white;
    
}
.footer{
    display: flex;
    justify-content: left;
    margin: 0px 0px 0px 500px;
    
}
.footer p{
    padding: 0px 20px 0px 20px;
}
.footer p:hover{
    cursor: pointer;
    text-decoration: underline ;
}
a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
    color:black;
  }
  
/* drop down buttons */
.dropbtn {
    background-color: white;
    color: black;
    padding: 7px 16px 7px 16px;
    font-size: 18px;
    border: 2px solid green;
    cursor: pointer;
    margin: 15px 0px 0px 0px ;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
    color: white;
  }