body{
    background-image: url("usedImage/Homebackground.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}
.homeheader{
    padding: 5px 0px 6px 0px;
    display: flex;
    justify-content: space-around;
    margin: 0px 0px 20px 0px ;
    font-size: 20px;
}
.logo{
    width: 300px;
    height: 70px;
}
#headsearch{
    width: 400px;
    height: 40px;
    border-radius: 8px 0px 0px 8px;
    padding: 0px 0px 0px 5px ;
    font-size: 20px;
    margin: 15px 0px 0px 0px;
    border-radius: 8px 0px 0px 8px;
    border: 2px;
}
.serchbtn{
    width: 40px;
    height: 40px;
    margin: 15px 0px 0px 0px;
    background-color: white;
    border-radius: 0px 8px 8px 0px;
    border: 2px;
    font-size: 20px;
}
.btn{
    margin-top: 15px;
}
.btn a:link, .btn a:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  .btn  a:hover, .btn  a:active {
    background-color: green;
    color: white;
  }

.image{
    width: 250px;
    height: 270px;
    margin: 10px 0px 0px 15px;
    border-radius: 4px;
}
.author, .bookname{
    margin:5px 0px 5px 15px ;
    font-size: 20px;
}
.containerstore:hover{
    box-shadow: 20px 20px 50px 15px grey;
}
.store{
    width: 280px;
    height: 395px;
    margin: 10px 10px;
    background-color: white;
    border: 1.5px solid black;
    border-radius: 10px;
}
.read{
    margin: 0px 0px 0px 15px ;
    border-radius: 5px;
}

.read a:link, .read a:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 8px 105px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  .read a:hover, .read a:active {
    background-color: green;
    color: white;
  }

.hpstore{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin: 30px 0px 0px 0px;
}

.footermain{
    background:black;
    color: white;
    
}
.footer{
    display: flex;
    justify-content: left;
    margin: 0px 0px 0px 500px;
    
}
.footer p{
    padding: 0px 20px 0px 20px;
}
.footer p:hover{
    cursor: pointer;
    text-decoration: underline ;
}
a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
    color:black;
  }
  
