body{
    background-image: url(regis.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}
.wrapper{
	background-color:#fff;
	width: 420px;
	height: 470px;
	margin: 90px 0px 0px 450px;
	box-shadow: 2px 2px 6px 6px rgba(0, 0, 0, 0.356);
	border-radius: 5px 5px 5px 5px;
}
#formContent{
	display: flex;
	justify-content: center;
	padding: 0px 0px 0px 0px;
}
#formContent h2{
	padding: 0px 5px 0px 0px;
}
#formContent h2:hover{
	cursor: pointer;
	color: #cccccc;
	text-decoration: underline 2px blue;
}
#icon{
	width: 250px;
	height: 150px;
	margin: 5px 0px 0px 80px;
	position: relative;
}
.fadeIn{
	width: 350px;
	height: 40px;
	margin: 20px 0px 0px 35px ;
	box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.479);
	outline: none;
	border: none;
	background-color: #f6f6f6;
	border-radius: 4px 4px 4px 4px ;
	font-size: 16px;
}
.fourth{
	background-color: #56baed;
	font-size: 18px;
}
.fourth:hover{
	background-color:  #4ca7d4;
}
#formFooter{
   text-align: center;
   margin-top: 10px;
   background-color: #f6f6f6;
   padding: 22px 0px 20px 0px;
   border-radius: 0px 0px 5px 5px;
}
a{
	text-decoration: none;
	color: black;
}
.account {
	text-align: center;
	margin: 0px 0px 0px 0px;
}
.account p{
	font-size: 22px;
}